/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
    text-align: center;
    color: white;
}

.container {
    background: rgba(25, 35, 450, 0.400);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h1 span {
    font-weight: 800;
}

.student-id {
    font-size: 1.2em;
    font-weight: 300;
}

.description {
    font-size: 1em;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.btn {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: 0.3s;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.4);
}